
$font-family-sans-serif:  "Lora", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;

$headings-font-family:    "Playfair Display", "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif !default;
$headings-font-weight:    400 !default;

$media-sm:                576px;
$media-md:                768px;
$media-lg:                992px;
$media-xl:                1200px;

$white:                   #ffffff !default;
$gray-100:                #fafafa !default;
$gray-200:                #f0f0f0 !default;
$gray-300:                #e6e6e6 !default;
$gray-400:                #d9d9d9 !default;
$gray-500:                #bdbdbd !default;
$gray-600:                #7d7d7d !default;
$gray-700:                #575757 !default;
$gray-800:                #404040 !default;
$gray-900:                #292929 !default;
$black:                   #000 !default;

$primary-0:               #1a2a33 !default;
$primary-light-1:         #43535c !default;
$primary-light-2:         #8e989e !default;
$primary-dark-1:          #061721 !default;
$primary-dark-2:          #000305 !default;

$primary:                 $primary-0 !default;
$info:                    $primary-light-2 !default;
$light:                   $primary-light-2 !default;

$topbar-bg:               $gray-800 !default;

$footer:                  $gray-200 !default;
$footer-bg:               $gray-800 !default;
$footer-link:             $gray-200 !default;
$footer-icon-bg:          $gray-600 !default;
$footer-link-bg:          $footer-bg !default;

$font-size-base:          1rem !default; // Assumes the browser default, typically `16px`

$body-bg:                 $gray-600 !default;
$page-bg:                 $gray-100 !default;

$h1-font-size:            $font-size-base * 2 !default;
$h2-font-size:            $font-size-base * 1.75 !default;
$h3-font-size:            $font-size-base * 1.5 !default;
$h4-font-size:            $font-size-base * 1.3 !default;
$h5-font-size:            $font-size-base * 1.1 !default;
$h6-font-size:            $font-size-base !default;

$mobile-menu-title-color:  $gray-100;
$mobile-menu-color:        $gray-500;
$mobile-menu-color-active: $gray-100;
$mobile-menu-bg:           $primary-dark-1;
$mobile-menu-border:       $primary-light-1;

$borders:                 0, 1, 2, 3, 4, 5 !default;
$columns:                 1, 2, 3, 4, 5, 6 !default;
$heights: (
  1: 100px,
  2: 200px,
  3: 300px,
  4: 400px,
  5: 500px
) !default;

$table-th-bg:             $topbar-bg !default;

$nav-tabs-link-active-bg: $light !default;
